@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "TÀI KHOẢN ĐÃ ĐƯỢC XÁC THỰC THÀNH CÔNG!";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}



<div class="login-page" style="margin-top:6rem;text-align:center">
    <h1>@ViewData["Title"]</h1>
    <span><button style="margin-top: 2rem;background: #59a6ff;border: #59a6ff;border-radius: 10px;padding: 8px;"><a style="
    color: white;
    font-size: 21px;
    padding: 4px;" asp-page="./Login">Đăng nhập tại đây</a></button></span>
</div>