@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Lấy lại mật khẩu?";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div class="login-page" style="margin-top:6rem;">
    <div class="form">
        <h2 style="margin-bottom: 1rem;">LẤY LẠI MẬT KHẨU</h2>
        <form method="post">
            <div asp-validation-summary="All" style="color:red"></div>
            <div class="form-group">
                <input asp-for="Input.Email" placeholder="Nhập email để lấy lại mật khẩu" class="form-control" />
                <span asp-validation-for="Input.Email" style="color:red"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
@*<h1>@ViewData["Title"]</h1>
<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
*@