@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h1 style="margin-top:180px;text-align:center">
    VUI LÒNG KIỂM TRA EMAIL ĐỂ XÁC NHẬN LẤY LẠI MẬT KHẨU !
</h1>
<br>
<p style="text-align:center;font-size:40px"><i class="fas fa-envelope"></i></p>

