@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h1 style="margin-top:180px;text-align:center">
    ĐẶT LẠI MẬT KHẨU THÀNH CÔNG !
</h1>
<br>
<p style="text-align:center;font-size:40px;color:green">
    <i class="fas fa-check-circle"></i>
</p>
<br>
<p style="text-align:center;">
    <span>
        <button style="background: #59a6ff;border: #59a6ff;border-radius: 10px;padding: 8px;">
            <a style="color: white;font-size: 21px;padding: 4px;" asp-page="./Login">
                Đăng nhập tại đây
            </a>
        </button>
    </span>
</p>