@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="login-page" style="margin-top:6rem;">
    <div class="form">
        <h2 style="margin-bottom: 1rem;">Đặt lại mật khẩu</h2>
        <form class="login-form" id="account" method="post">
            <div asp-validation-summary="ModelOnly" style="color:red"></div>
            <input asp-for="Input.Code" type="hidden" />
            <di>
                <input asp-for="Input.Email" placeholder="Email" class="form-control" />
                <span asp-validation-for="Input.Email" style="color:red"></span>
            </di>
            <div>
                <input asp-for="Input.Password" placeholder="Password" class="form-control" />
                <span asp-validation-for="Input.Password" style="color:red"></span>
            </div>
            <div>
                <input asp-for="Input.ConfirmPassword" placeholder="Confirm Password" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div>
            </div>
            <button type="submit">Xác nhận</button>
        </form>
    </div>
</div>