@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<h1 class="btn btn-success">Quý khách tiến hành xác nhận thanh toán thành công</h1>
    <div class="btn btn-primary">
        <a asp-controller="Carts" asp-action="SavePayment"></a>
    </div>
*@

<h1>Đây là: @ViewBag.errorCode</h1>
<h1>Đây là: @ViewBag.Message</h1>